* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

header {
  width: 133px;
  height: 25px;
  margin-top: 40px;
  margin-left: 77px;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.08em;
}

.ImgClow img {
  max-width: 100%;
  flex: 100%;
}

.MainContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
  font-family: "Space Mono";
  letter-spacing: -0.035em;
}

.Text{
  display: flex;
  flex-direction: column;
  flex: 100%;
}

.Text h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 94.78px;
  width: 586px;
  height: 190px;
}

.Text p {
  font-weight: 400;
  font-size: 24px;
  width: 381px;
  height: 108px;
}

.Button-Link{
  width: 216px;
  height: 68px;
  margin-top: 64px;
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'Space-Mono';
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 600px) {
 .ImgClow{
    flex:50%
  }
 .Text{
    flex: 50%;
  }
}