*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #333333;
}

img{
  max-width: 100%;
  width: 539.22px;
  height: 447.43px;
}

header{
  margin: 10px 1230px auto 77px;
  width: 133px;
  /* height: 20px; */
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 25.18px;
  letter-spacing: -0.08em;
}

.MainContent{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  font-family: "Space Mono";
  letter-spacing: -0.035em;
  min-height: 90vh;

  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh */
}

.MainContent .Text h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 94.78px;
  width: 586px;
  height: 190px;
}

.MainContent .Text p{
  font-weight: 400;
  font-size: 24px;
  width: 381px;
  height: 108px;

}

@media (min-width: 600px) {
  .MainContent .ClowImg {
      flex: 50%;
  }
  .MainContent .Text {
      flex: 50%;
      align-items: center;
  }
}

/* Imagem do palhaço */
/* .ClowImg{
  position: absolute;
  width: 539.22px;
  height: 447.43px;
} */